<header>
    Page Header

    <ul>
        <% if(locals.user){%>
             <main id = "user-name-and-sign-out">
                <a href = "/users/profile/<%=user.id%>"> <%= user.name%></a><br>
            
            
                <a href = "/users/sign-out"> Sign Out</a><br>
             </main>
            
            
            
        <%} else{%>
            
                <a href = "/users/sign-in"> Sign In</a><br>
           
                <a href = "/users/sign-up"> Sign Up </a><br>

            
        <%} %>

        
    </ul>
</header>