<h1>
    Sign In
</h1>

<form>
    <input type="email" name = "email" placeholder="Email" required><br>
    <input type="password" name = "password" placeholder="Password" required><br>
    <input type="submit" name = "submit" value="Sign In">
</form>